<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Study Task Manager</title>
</head>
<body>
    <h1>学習記録</h1>

    <form method="POST">
　      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h4>日付</h4>   
        <input type="date" name="date" value="{{ today }}"><br><br>
        <h4>タイトル</h4>
        <input type="text" name="title" placeholder="タイトルを入力"><br><br>
        <textarea name="content" rows="5" cols="40" placeholder="今日の学習内容を入力"></textarea>
        <h4>カテゴリ</h4>
    {% for tag in category_tags %}
      <label>
        <input type="checkbox" name="tags" value="{{ tag.id }}">
        {{ tag.name }}
      </label>
    {% endfor %}

    <h4>科目</h4>
    {% for tag in subject_tags %}
      <label>
        <input type="checkbox" name="tags" value="{{ tag.id }}">
        {{ tag.name }}
      </label>
    {% endfor %}

        <button type="submit">保存</button>
    </form>

    <hr>

<form action="/tags/add" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <a href="{{ url_for('tag_manage') }}">タグ管理へ</a>

</form>


<h2>忘却防止：復習すべき記録</h2>

<h3>1日前</h3>
{% if forget_1 %}
    {% for item in forget_1 %}
        <p>{{ item.date }} : {{ item.text }}</p><br>
         {% for tag in item.tags %}
        <small>[{{ tag.name }}]</small>
         {% endfor %}
    {% endfor %}
{% else %}
    <p>該当なし</p>
{% endif %}

<h3>3日前</h3>
{% if forget_3 %}
    {% for item in forget_3 %}
        <p>{{ item.date }} : {{ item.text }}</p><br>
         {% for tag in item.tags %}
        <small>[{{ tag.name }}]</small>
         {% endfor %}
    {% endfor %}
{% else %}
    <p>該当なし</p>
{% endif %}

<h3>1週間前（7日前）</h3>
{% if forget_7 %}
    {% for item in forget_7 %}
        <p>{{ item.date }} : {{ item.text }}</p><br>
         {% for tag in item.tags %}
        <small>[{{ tag.name }}]</small>
         {% endfor %}
    {% endfor %}
{% else %}
    <p>該当なし</p>
{% endif %}

<h3>1か月前（30日前）</h3>
{% if forget_30 %}
    {% for item in forget_30 %}
        <p>{{ item.date }} : {{ item.text }}</p><br>
         {% for tag in item.tags %}
        <small>[{{ tag.name }}]</small>
         {% endfor %}
    {% endfor %}
{% else %}
    <p>該当なし</p>
{% endif %}


<a href="/search">検索ページへ</a>
<p><a href="{{ url_for('logout') }}">ログアウト</a></p>


</body>
</html>
