<!DOCTYPE html>
<html>
<head><title>記録検索</title></head>
<body><p><a href="/">← 記録ページに戻る</a></p>
<h1>記録検索</h1>

<form method="post">
    <label>日付：</label>
    <input type="date" name="date">

    <label>キーワード：</label>
    <input type="text" name="keyword">

    <button type="submit">検索</button>
</form>

<hr>

<h2>検索結果</h2>
{% for r in results %}
  <div>
      <p>日付: {{ r.date }}<br>
         内容: {{ r.text }}</p>

      <form action="/delete/{{ r.date }}" method="post" style="display:inline;">
          <button>削除</button>
      </form>

      <a href="/edit/{{ r.date }}">編集</a>
  </div>
  <hr>
{% endfor %}
</body>
</html>
