<!DOCTYPE html>
<html>
<head><title>記録管理</title></head>
<body><p><a href="/">← 記録ページに戻る</a></p>
<h1>記録管理</h1>

<form method="get"action="{{ url_for('search') }}">
    <label>日付：</label>
    <input type="date" name="date" value="{{ request.args.get('date', '') }}"><br>

    <label>キーワード：</label>
    <input type="text" name="keyword" placeholder="キーワード"
           value="{{ request.args.get('keyword', '') }}"><br>

    <input type="text" name="tag" placeholder="タグ名"
           value="{{ request.args.get('tag', '') }}"><br>


    <button type="submit">検索</button>
</form>

<hr>

<h2>検索結果</h2>
{% for log in results %}
  <h3>{{ log.title }}</h3>
  <p>{{ log.text }}</p>
  <small>{{ log.date }}</small>

  {% if log.tags %}
    <div>
      {% for tag in log.tags %}
        <span class="tags"> {{ tag.name }}</span>
      {% endfor %}
    </div>
  {% endif %}


  <form action="/delete/{{ log.id }}" method="post" style="display:inline;">
    <button type="submit">削除</button>
  </form>

  <a href="/edit/{{ log.id }}">編集</a>
  <hr>

{% endfor %}



<div>
{% if pagination.has_prev %}
  <a href="{{ url_for('search',
      page=pagination.prev_num,
      date=request.args.get('date'),
      keyword=request.args.get('keyword'),
      tag=request.args.get('tag')) }}">← 前</a>
{% endif %}

{% if pagination.has_next %}
  <a href="{{ url_for('search',
      page=pagination.next_num,
      date=request.args.get('date'),
      keyword=request.args.get('keyword'),
      tag=request.args.get('tag')) }}">次 →</a>
{% endif %}
</div>


</body>
</html>
