<!DOCTYPE html>
<html>
<head><title>記録検索</title></head>
<body><p><a href="/">← 記録ページに戻る</a></p>
<h1>記録検索</h1>

<form method="post">
    <label>日付：</label>
    <input type="date" name="date">

    <label>キーワード：</label>
    <input type="text" name="keyword" placeholder="キーワード">
     <input type="text" name="tag" placeholder="タグ名">


    <button type="submit">検索</button>
</form>

<hr>

<h2>検索結果</h2>
{% for r in results %}
  <p>
    {{ r.date }} : {{ r.text }}
    <br>タグ:
    {% for tag in r.tags %}
       <span style="background:#ddd; padding:2px 6px;"></span>
        {{ tag.name }}
       </span>
    {% endfor %}
  </p>

  <form action="/delete/{{ r.id }}" method="post" style="display:inline;">
    <button type="submit">削除</button>
  </form>

  <a href="/edit/{{ r.id }}">編集</a>
  <hr>
{% endfor %}

</body>
</html>
